/* body {
  font-family: Arial;
} */

.coupon {
    border: 0.5rem dotted black;
    width: 50%;
    
    border-radius: 1.5rem;
    margin: 0 auto;
    max-width: 40rem;
    font-size: 90;
    margin-left: 5rem;
  }
  
  
  
  
  .container {
    padding: 0.2rem 0.6rem;
    background-color: #f1f1f1;
    font-size: 90;
    /* padding-top: 21px; */
  }
  
  .description{
      font-size: 2rem;
      color: black;
  }
  
  
  
  .promo {
    background: #2ac37d;
    padding: 0.3rem;
    font-weight: 2rem;
    font-size: 2rem;
    color: black;
    
  }
  
  .expire {
    color: red;
  }