.gradient-custom-2 {
    /* fallback for old browsers */
    background: #229C64;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #d2f6e5, #a0fbaf);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #e2fff2, #b0f9bc)
  }
  
  #progressbar-1 {
    color: #455A64;
    padding-top: 3rem;
    padding-bottom: 5rem;
    margin-bottom: 2rem;
  }
  
  #progressbar-1 .litag {
    list-style-type: none;
    font-size: 13px;
    width: 33.33%;
    float: left;
    position: relative;
  }
  
  #progressbar-1 #step1:before {
    content: "1";
    color: #fff;
    width: 29px;
    margin-left: 7rem;
    padding-left: 1.3rem;
  }
  
  #progressbar-1 #step2:before {
    content: "2";
    color: #fff;
    width: 29px;
  }
  
  #progressbar-1 #step3:before {
    content: "3";
    color: #fff;
    width: 29px;
    margin-right: 7rem;
    text-align: center;
  }
  
  #progressbar-1 .litag:before {
    line-height: 3rem;
    display: block;
    font-size: 12px;
    background: #455A64;
    border-radius: 50%;
    margin: auto;
  }
  
  #progressbar-1 .litag:after {
    content: '';
    width: 121%;
    height: 0.35rem;
    background: #455A64;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 15px;
    z-index: -1;
  }
  
  #progressbar-1 .litag:nth-child(2):after {
    left: 5%
  }
  
  #progressbar-1 .litag:nth-child(1):after {
    left: 25%;
    width: 121%
  }
  
  #progressbar-1 .litag:nth-child(3):after {
    left: 25%;
    width: 50%;
  }
  
  #progressbar-1 .litag.active:before,
  #progressbar-1 .litag.active:after {
    background: #1266f1;
  }
  
  .card-stepper {
    z-index: 0
  }

  @media (min-width: 768px)
  {.col-md-10 {
      flex: 0 0 auto;
      width: 83.33333333%;
  }}
  .rowtag>* {
      flex-shrink: 0;
      width: 100%;
      max-width: 100%;
      padding-right: calc(var(--mdb-gutter-x)*0.5);
      padding-left: calc(var(--mdb-gutter-x)*0.5);
      margin-top: var(--mdb-gutter-y);
  }
  /* *, :after, :before {
      box-sizing: border-box;
  } */
  .divtag {
      display: block;
  }

  /* .gradient-custom-2 {
    background: #229C64;
    background: -webkit-linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));
    background: linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));
} */
.py-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.w-100 {
    width: 100%!important;
}
/* *, :after, :before {
    box-sizing: border-box;
} */
.sectiontag {
    display: block;
}
.card-header:first-child {
    border-radius: calc(0.5rem - 1px) calc(0.5rem - 1px) 0 0;
}
.card-header {
    background-color: hsla(0,0%,100%,0);
    border-bottom: 2px solid #f5f5f5;
}
.p-4 {
    padding: 1.5rem!important;
}
.card-header {
    padding: 0.75rem 1.5rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.p-4 {
    padding: 1.5rem!important;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.5rem;
}
.card-footer:last-child {
    border-radius: 0 0 calc(0.5rem - 1px) calc(0.5rem - 1px);
}
.card-footer {
    background-color: hsla(0,0%,100%,0);
    border-top: 2px solid #f5f5f5;
}
.p-4 {
    padding: 1.5rem!important;
}
.card-footer {
    padding: 0.75rem 1.5rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}


/* .card-stepper {
    z-index: 0;
}

.card-stepper {
    z-index: 0;
} */
.card-stepper {
    z-index: 0;
}
.card {
    border: 0;
    box-shadow: 0 2px 15px -3px rgba(0,0,0,.07), 0 10px 20px -2px rgba(0,0,0,.04);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.5rem;
}

.text-muted {
    --mdb-text-opacity: 1;
    color: #757575!important;
}
.mb-2 {
    margin-bottom: 0.5rem!important;
}
.ptag {
    margin-top: 0;
    margin-bottom: 1rem;
}
.text-body {
    --mdb-text-opacity: 1;
    color: rgba(var(--mdb-body-color-rgb),var(--mdb-text-opacity))!important;
}
.fw-bold {
    font-weight: 700!important;
}

.atag {
    text-decoration: none;
    color: #3b71ca;
    padding-left: 18rem;
    padding-right: 18rem;
}
#progressbar-1 li {
    list-style-type: none;
    font-size: 13px;
    width: 33.33%;
    float: left;
    position: relative;
}
.text-muted {
    --mdb-text-opacity: 1;
    color: #757575!important;
}
.text-end {
    text-align: right!important;
}
.fw-normal {
    font-weight: 400!important;
}
.mb-0 {
    margin-bottom: 0!important;
}
.h-100 {
    height: 100%!important;
}
.border-start {
    border-left: 1px solid #e0e0e0!important;
}
.justify-content-between {
    justify-content: space-between!important;
}

.d-flex {
    display: flex;
    justify-content: center;
}
.fw-normal {
    font-weight: 400!important;
}

.span0{
    margin-left: 5.5rem;
    margin-top: 12px
}

.span2{
    margin-right: 4.7rem;
}


.Address-nameNumber{
    display: flex;
    margin-top: 2rem;
    font-size: 1.6rem;
    color: #282c3f;
    font-weight: 700;
    height: 2rem;
}

.Address-verticalDivider {
    width: 1px;
    height: 13px;
    border-left: 1px solid #151313;
}

.PriceDetails-itemPrice{
    display: flex;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: #282c3f;
}
.Styles-buttonHolder{
    width: 100%;
    padding: 0 4.44% 16px;
    background-color: #fff;
    user-select: auto;
}

.visionbutton-l {
    height: 40px;
    font-size: 14px;
}

.visionbutton-secondary {
    background-color: #fff;
    border-color: #d4d5d8;
    color: #282c3f;
}

.visionbutton-button {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    outline: none;
    border: 1px solid #ff527a;
    border-radius: 2px;
    font-family: Assistant;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}

.ItemDetails-itemDetailsView .ItemDetails-cancelledCard {
    width: 100%;
    padding: 0 16px;
}
.CancelledCard-test {
    width: 100%;
}
.CancelledCard-Container {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
    background-color: #fff;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    -webkit-box-align: start;
    align-items: flex-start;
    display: flex;
}
.CancelledCard-IconContainer{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 20px 15px;
}
.CancelledCard-CloseIcon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #eaeaec;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.svgImages-crossBox {
    background: url(https://cdn.myntassets.com/web/assets/svg/crossBox.svg) no-repeat;
}

.CancelledCard-TextContainer {
    -webkit-box-flex: 1;
    flex: 1;
    padding: 20px 0;
}
.CancelledCard-Text {
    height: 24px;
    font-family: Assistant;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    color: #282c3f;
}
.CancelledCard-TextSecondary {
    font-family: Assistant;
    font-size: 14px;
    line-height: 1.5;
    color: #696e79;
}

.exchanngemodalwindow{
    background-color: #f5f5f5;
    max-height: calc(100vh - 150px);
    overflow-y: auto;

}

.selectsize {
    background-color: #ffffff;
    padding: 3rem;
    display : inline-block;
    width: 100%;
    margin-bottom: 3rem;
}

.selectreason{

    background-color: #ffffff;
    padding: 3rem;
    display : inline-block;
    width: 100%;
    margin-bottom: 3rem;

}

.selectpickupexchange{
    background-color: #ffffff;
    padding: 3rem;
    display : inline-block;
    width: 100%;
}

.hrexchange{
    width:90%;
    height:0.9rem;
    border: 0 none;
    color: #a8a6a6;
    height: 1px;
    background-color: #d5d2d2;
}

.numberCircle {
    width: 35px;
    line-height: 32px;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    border: 2px solid #666;
    display: block;
    float: left;
    margin-right: 2rem;
    cursor: pointer;
}

.numberCircle.active{
    background-color: #60ae8a;
    color:#ffffff

}
.modal {
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal.open {
   display: block;
}
.modal__header,
.modal__footer {
    height: 100px;
}
.modal-footer{
    border-top: 0 none;
}
.modal__content,
.modal__footer {
    position: absolute;
    width: 100%;
}
.modal__content {
    bottom: 100px;
    top: 100px;
    overflow-y: auto;
}
.modal__footer {
    bottom: 0;
}


/* .h5, h5 {
    font-size: 1.25rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2,  h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
h5 {
    font-size: 0.83em;
    font-weight: bold;
} */



.d-1 {
    --c: #27b574; /* the color */
    --b: .085em;    /* border length*/
    --d: 1.2rem;    /* the cube depth */
    --h: 1em;   /* the height */
    
    --_s: calc(var(--d) + var(--b));
  
    line-height: var(--h);
    color: #0000;
    text-shadow: 
      0 calc(-1*var(--_t,0em)) var(--c), 
      0 calc(var(--h) - var(--_t,0em)) #fff;
    border: solid #0000;
    overflow: hidden;
    border-width: var(--b) var(--b) var(--_s) var(--_s);
    background:
      linear-gradient(var(--c) 0 0) 100% 100%
       /101% var(--_p,0%) no-repeat,
      conic-gradient(at left var(--d)  bottom var(--d),
        #0000 90deg, rgb(255 255 255 /0.3) 0 225deg,rgb(255 255 255 /0.6) 0) border-box,
      conic-gradient(at left var(--_s) bottom var(--_s),
        #0000 90deg,var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b))  border-box;
    transform: translate(calc(var(--d)/-1),var(--d));
    clip-path: 
      polygon(
       var(--d) 0%, 
       var(--d) 0%, 
       100% 0%, 
       100% calc(100% - var(--d)),
       100% calc(100% - var(--d)),
       var(--d) calc(100% - var(--d))
      );
    transition: 0.5s;
  }
  .d-1:hover {
    transform: translate(0,0);
    clip-path: 
      polygon(
       0% var(--d), 
       var(--d) 0%, 
       100% 0%, 
       100% calc(100% - var(--d)), 
       calc(100% - var(--d)) 100%, 
       0% 100%
     );
    --_t: var(--h);
    --_p: 105%;
  }
  
  .d-2 {
    --c: #CC333F; /* the color */
    --b: .1em;    /* border length*/
    --d: 20px;    /* the cube depth */
    --h: 1.2em;   /* the height */
    
    --_s: calc(var(--d) + var(--b));
    color: #0000;
    text-shadow: 
      0 calc(-1*var(--_t,0em)) var(--c), 
      0 calc(var(--h) - var(--_t,0em)) #fff;
    border: solid #0000;
    overflow: hidden;
    border-width: var(--b) var(--_s) var(--_s) var(--b);
    background:
      linear-gradient(var(--c) 0 0) -1px 100%
       /101% var(--_p,0%) no-repeat,
      conic-gradient(from -90deg at right var(--d)  bottom var(--d),
        #0000 90deg, rgb(255 255 255 /0.3) 0 225deg,rgb(255 255 255 /0.6) 0) border-box,
      conic-gradient(at right var(--_s) bottom var(--_s),
        var(--c) 270deg,#0000 0) 100% 100%/calc(100% - var(--b)) calc(100% - var(--b))  border-box;
    transform: translate(var(--d),var(--d));
    clip-path: 
      polygon(
        0% 0%,
        calc(100% - var(--d)) 0%,
        calc(100% - var(--d)) 0%,
        calc(100% - var(--d)) calc(100% - var(--d)),
        0 calc(100% - var(--d)),
        0 calc(100% - var(--d))
      );
    transition: 0.5s;
  }
  .d-2:hover {
    transform: translate(0,0);
    clip-path: 
      polygon(
        0% 0%,
        calc(100% - var(--d)) 0%,
        100% var(--d),
        100% 100%,
        var(--d) 100%,
        0 calc(100% - var(--d))
      );
    --_t: var(--h);
    --_p: 105%;
  }

  .h3tag {
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    margin:0;
    cursor: pointer;
    padding: 0 .1em;
    width: auto;
    display: inline;
    z-index: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem ;
    margin-top: 1rem;
  }