#myInput {
     /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 1.6rem; /* Increase font-size */
    border: 0.1rem solid #ddd; /* Add a grey border */
    margin-bottom: 1.2rem; /* Add some space below the input */
  }
  
  #myUL {
    /* Remove default list styling */
    list-style-type: none;
    overflow: visible;
    position: absolute;
    padding: 0;
    margin: 0;
  }
  
  #myImg{
    height:6rem;
    float:left;
    padding-right: 0.5rem;
  }

  #myUl li a p{
    transform: translate(0%, -50%);

  }

  #myUL li a {
    width:26rem;
    height:8rem;
    text-align: left;
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 1rem; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 14px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
  }

  #myUL li {
    cursor: pointer;
}
  
  #myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
  }